In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [55]:
def load_data():
    train_df = pd.read_csv('train.csv')
    test_df = pd.read_csv('test.csv')
    return train_df, test_df

In [56]:
train_df, test_df = load_data()

In [57]:
train_df.head()

,price,desc,ad_id,location,timestamp,mileage,brand,model,year,fuel,transmission,color,car_type
0,569000,"""‡πÄ‡∏•‡∏Ç‡πÑ‡∏°‡∏•‡πå5,700‡∏Å‡∏¥‡πÇ‡∏•‡πÅ‡∏ó‡πâ 1.3 SP ‡πÇ‡∏â‡∏°‡∏õ‡∏±‡∏à‡∏à‡∏∏‡∏ö‡∏±‡∏ô ‡∏£‡∏ñ2‡πÄ‡∏î‡∏∑...",354186401,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,1584521455,5700,Mazda,Mazda2 Sport,2020,‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡πÄ‡∏ó‡∏≤,‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
1,1150000,‡∏Ç‡∏≤‡∏¢ Chevrolet c10 ‡∏õ‡∏µ 1965 ‡∏£‡∏ñ‡πÅ‡∏ó‡πâ ‡∏Ç‡∏±‡∏ö‡∏Ç‡∏ß‡∏≤ ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÇ‡∏≠...,356227846,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,1591021387,1234,Chevrolet,‡∏£‡∏∏‡πà‡∏ô‡∏≠‡∏∑‡πà‡∏ô‡πÜ,1965,‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡πÅ‡∏î‡∏á,‡∏£‡∏ñ‡∏≠‡∏∑‡πà‡∏ô ‡πÜ
2,799000,üì¢‡∏°‡∏≤‡πÅ‡∏ß‡πâ‡∏ß‡∏ß... ‡∏•‡∏Ñ.‡∏ó‡∏µ‡πà‡∏ä‡∏≠‡∏ö‡∏£‡∏ñ‡∏™‡∏µ‡∏Ç‡∏≤‡∏ß‚Äã ‡πÉ‡∏™‡πÜ‡πÄ‡∏•‡∏¢\n‡πÉ‡∏Ñ‡∏£‡πÄ‡∏£‡πá‡∏ß‡∏Å...,356055202,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,1590502642,100000,Mitsubishi,Pajero Sport,2016,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏Ç‡∏≤‡∏ß,‡∏£‡∏ñ MPV / SUV
3,429000,‡∏£‡∏´‡∏±‡∏™ 130/v36\n2010 toyota CAMRY 2.4 hybrid nav...,356169430,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,1590844871,184921,Toyota,Camry,2010,‡πÑ‡∏Æ‡∏ö‡∏£‡∏¥‡∏î,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏î‡∏≥,‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
4,268000,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á 1.2 E ‡πÇ‡∏â‡∏°‡πÑ‡∏ü‡πÉ‡∏´‡∏°‡πà ‡∏û.‡∏û‡∏≤‡∏ß‡πÄ‡∏ß‡∏≠‡∏£‡πå ‡∏Å.‡πÑ‡∏ü‡∏ü‡πâ‡∏≤ ‡∏ã‡∏ó‡∏•...,354415016,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,1585546785,103000,Nissan,Almera,2016,‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏Ç‡∏≤‡∏ß,‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á

In [58]:
test_df.head()

,price,desc,ad_id,location,timestamp,mileage,brand,model,year,fuel,transmission,color,car_type
0,549000,"Option: ‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÄ‡∏•‡πà‡∏ô CD, USB, ‡∏Å‡∏£‡∏∞‡∏à‡∏Å‡πÑ‡∏ü‡∏ü‡πâ‡∏≤, ‡πÄ‡∏ã‡πá‡∏ô‡∏ó...",354696215,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,1586421506,31200,Ford,Ranger,2017,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏î‡∏≥,‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞
1,358000,‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ‡∏ö‡πâ‡∏≤‡∏ô 2006 ISUZU MU-7 ‡πÅ‡∏£‡∏á‡πÜ‡πÜ (‡πÄ‡∏á‡∏¥‡∏ô‡∏™‡∏î‡∏•‡∏î‡πÑ‡∏î‡πâ)\...,354237756,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,1584748598,267000,Isuzu,MU-7,2006,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏ö‡∏£‡∏≠‡∏ô‡∏ã‡πå‡πÄ‡∏á‡∏¥‡∏ô,‡∏£‡∏ñ MPV / SUV
2,529000,üî•‡πÅ‡∏Ñ‡∏õ‡πÄ‡∏õ‡∏¥‡∏î‡πÑ‡∏î‡πâ üî•‡∏£‡∏∏‡πà‡∏ô‡πÉ‡∏´‡∏°‡πà‡∏•‡πà‡∏≤‡∏™‡∏∏‡∏î üî•‡πÅ‡∏£‡∏á ‡∏õ‡∏£‡∏∞‡∏´‡∏¢‡∏±‡∏î ‡πÄ‡∏Ñ‡∏£‡∏∑‡πà...,352545121,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,1577353632,8,Toyota,Hilux Revo,2019,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤,‡∏Ç‡∏≤‡∏ß,‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞
3,1135000,TOYOTA NEW FORTUNER 2.8 V 4WD SUV AUTO ‡∏õ‡∏µ 2015...,356194406,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,1590918420,100000,Toyota,Fortuner,2015,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,‡∏Ç‡∏≤‡∏ß,‡∏£‡∏ñ MPV / SUV
4,469000,üí¢ ‡∏≠‡∏≠‡∏Å‡∏£‡∏ñ 999 ‡∏ö. üí¢\n#‡∏ü‡∏£‡∏µ#‡∏≠‡∏≠‡∏Å‡∏£‡∏ñ‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏õ‡∏£‡∏∞‡∏Å‡∏±‡∏ô‡∏ï‡∏±‡∏ß‡∏£‡∏ñ 1...,355315874,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,1588235606,NaN,Toyota,Hilux Vigo,2015,‡∏î‡∏µ‡πÄ‡∏ã‡∏•,‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤,‡πÄ‡∏ó‡∏≤,‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞

In [59]:
train_df.isna().sum()

price              0
desc             171
ad_id              0
location           0
timestamp          0
mileage         1662
brand              0
model              0
year               0
fuel               0
transmission     213
color            255
car_type           0
dtype: int64

In [60]:
test_df.isna().sum()

price             0
desc             43
ad_id             0
location          0
timestamp         0
mileage         416
brand             0
model             0
year              0
fuel              0
transmission     54
color            69
car_type          0
dtype: int64

# Feature Engineering

In [61]:
def fill_na(df):
    fill_df = df.copy()
    fill_df['desc'] = fill_df['desc'].fillna('')
    fill_df['mileage'] = fill_df['mileage'].fillna(-1)
    fill_df['transmission'] = fill_df['transmission'].fillna('no data')
    fill_df['color'] = fill_df['color'].fillna('no data')
    return fill_df

In [62]:
train_df_filled = fill_na(train_df)
test_df_filled = fill_na(test_df)

In [63]:
def extract_data(df):
    feat = df.copy()
    
    def fix_mileage(x):
        try:
            x = int(x)
        except:
            x = -1
        return x
    feat['mileage'] = feat['mileage'].apply(lambda x: fix_mileage(x))
    
    return feat

In [64]:
train_data = extract_data(train_df_filled)
test_data = extract_data(test_df_filled)

In [65]:
def drop_columns(df, drop_col):
    drop_feat = df.copy()
    drop_feat = drop_feat.drop(drop_col, axis=1)
    return drop_feat

In [66]:
drop_col = ['desc','ad_id','timestamp','location','model','year','fuel','color']
train_data_dropped = drop_columns(train_data, drop_col)
test_data_dropped = drop_columns(test_data, drop_col)

In [67]:
train_data_dropped

        price  mileage          brand     transmission      car_type
0      569000     5700          Mazda  ‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
1     1150000     1234      Chevrolet  ‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥      ‡∏£‡∏ñ‡∏≠‡∏∑‡πà‡∏ô ‡πÜ
2      799000   100000     Mitsubishi  ‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥  ‡∏£‡∏ñ MPV / SUV
3      429000   184921         Toyota  ‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
4      268000   103000         Nissan  ‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
...       ...      ...            ...              ...           ...
7098  1990000       -1  Mercedes-Benz  ‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
7099   299000   169376     Mitsubishi     ‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤       ‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞
7100  1290000    89000            BMW  ‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥  ‡∏£‡∏ñ MPV / SUV
7101   479000       -1          Honda  ‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥  ‡∏£‡∏ñ MPV / SUV
7102  1238000   310000         Toyota  ‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥  ‡∏£‡∏ñ MPV / SUV

[7103 rows x 5 columns]

In [70]:
def extract_feature(df):
    feat = df.copy()
    numeric_feature = ['mileage']
    catogorical_feature = ['brand','transmission','car_type']
    feat = pd.get_dummies(feat, columns=catogorical_feature)
    return feat

In [71]:
train_feature = extract_feature(train_data_dropped)
test_feature = extract_feature(test_data_dropped)

In [72]:
train_feature

,price,mileage,brand_Audi,brand_BMW,brand_Chevrolet,brand_Ford,brand_Honda,brand_Hyundai,brand_Isuzu,brand_Jeep,...,brand_Volvo,brand_‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠‡∏≠‡∏∑‡πà‡∏ô‡πÜ,transmission_no data,transmission_‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤,transmission_‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥,car_type_‡∏£‡∏ñ MPV / SUV,car_type_‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞,car_type_‡∏£‡∏ñ‡∏ï‡∏π‡πâ,car_type_‡∏£‡∏ñ‡∏≠‡∏∑‡πà‡∏ô ‡πÜ,car_type_‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
0,569000,5700,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,1150000,1234,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,799000,100000,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
3,429000,184921,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,268000,103000,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7098,1990000,-1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
7099,299000,169376,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
7100,1290000,89000,0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
7101,479000,-1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
7102,1238000,310000,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0